table,td {
    width: auto;
    word-break: break-all;
    vertical-align: top;
    padding: 5px;

}

form{
    width: auto;
    word-break: break-all;
    vertical-align: top;
    padding: 5px;



}

body{
    margin-left: 10px;
    background-color: #f1f4f7;

}

table.table {
    padding: 5px;
    margin: 5px;


}


div.a {
    width: auto;
    display: inline-flex;
    word-break: break-all;
    vertical-align: top;
    margin-top: 2px;
    margin-bottom: 2px;
}

a{
    margin-right: 10px;


}

hr {
    height: 4px;
    margin-left: 15px;
    margin-bottom: -3px;
}
.hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(241, 244, 247, 0.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
    margin-left: 0px;
    margin-top: 5px;
}


.breadcrumb {
    background: rgba(245, 245, 245, 0);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    display: block;
}

