<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj ogłoszenie</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div sec:authorize="isAuthenticated()">
    <form method="POST">
        <input type="hidden" th:name="user_name" th:value="${#httpServletRequest.remoteUser}"/>
        Nazwa przedmiotu (maksymalnie 200 znaków): <br/><textarea rows="2" cols="40" name="item_name"/><br/><br/>

        Opis przedmiotu:<br/><textarea rows="15" cols="75" name="item_description"/><br/><br/>
        Cena przedmiotu:<br/><textarea rows="1" cols="20" name="item_price"/><br/><br/>
        <select name="item_category" size="1">
            <option value="">Wybierz kategorie:</option>
            <option th:each="category : ${categories}" th:value="${category.category_name}"
                    th:text="${category.category_name}"></option>
        </select>
        <select name="item_city" size="1">
            <option value="">Wybierz miasto:</option>
            <option th:each="city : ${cities}" th:value="${city.city_name}" th:text="${city.city_name}"></option>
        </select><br/><br/>
        <div>
            <button class="btn btn-default" type="submit">Wyślij ogłoszenie</button>
        </div>

    </form>

</div>


</body>
</html>