<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Opis ogłoszenia</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<table class="table table-striped" style="width: 70%; border: solid #e9ecef;">
    <tr style="font-weight:bold">
        <td>Nazwa sprzedawcy:</td>
        <td>Cena:</td>
        <td>Miasto:</td>
        <td>Kategoria:</td>
        <td>Data dodania:</td>
        <td>Numer telefonu:</td>

    </tr>
    <tr>
        <td style="width: 15%">
            <a th:href="@{'/user/user_profile/'+${item_description.user_name}}"
               th:text="${item_description.user_name}"/>
        </td>

        <td style="width: 12%" th:text="${item_description.item_price}+zł"></td>
        <td style="width: 12%" th:text="${item_description.item_city}"></td>
        <td style="width: 13%" th:text="${item_description.item_category}"></td>
        <td style="width: 17%" th:text="${item_description.date}"></td>
        <td style="width: 15%" max-height="100px">

            <span sec:authorize="isAnonymous()" style="word-break: keep-all">Zaloguj się, by zobaczyć numer telefonu sprzedawcy.</span>
            <div sec:authorize="isAuthenticated()"><span style="font-weight:normal" th:text="${phone_number}"></span>
            </div>

        </td>
    </tr>
    <tr>
        <th colspan="6" style="text-align: left">Nazwa przedmiotu:</th>
    </tr>
    <tr>
        <td colspan="6" th:text="${item_description.item_name}"></td>
    </tr>

    <tr>
        <th colspan="6" style="text-align: left">Opis ogłoszenia:</th>
    </tr>
    <tr>
        <td colspan="6" th:text="${item_description.item_description}"></td>
    </tr>
</table>
<div class="a">
    <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/admin/delete/item'}" method="post">
        <input type="hidden" th:value="${item_description.item_id}" th:name="id"/>
        <button class="btn btn-default" type="submit">Usuń</button>
    </form>
</div>


</body>
</html>