<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Strona logowania</title>

</head>
<body>
<div th:replace="fragments/header :: header"/>

<div sec:authorize="isAuthenticated()">
    <h1 th:inline="text">Witaj [[${#httpServletRequest.remoteUser}]]!</h1>
</div>
<div sec:authorize="isAnonymous()">
    <h1 style="color: green">Witaj gościu! Zaloguj się!</h1>
</div>

<div th:if="${param.error}">
    <h1 style="color:red">Nazwa użytkownika lub hasło nieprawidłowe. Spróbuj jeszcze raz.</h1>

</div>
<div th:if="${param.logout}">
    <h1 style="color:blue">Wylogowano.</h1>
</div>
<form sec:authorize="isAnonymous()" th:action="@{/user/login}" method="post">
    <div> User Name : <input type="text" name="username"/></div>
    <br/>
    <div> Password: <input type="password" name="password"/></div>
    <br/>
    <div>
        <button class="btn btn-default" type="submit">Zaloguj</button>
    </div>
</form>

</body>
</html>