<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Strona rejestracji</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<form sec:authorize="isAnonymous()" method="post">
    Nazwa użytkownika: <input type="text" name="username"/><br/><br/>
    Hasło: <input type="password" name="password"/><br/><br/>
    Numer telefonu: <input type="text" name="phone_number"/><br/><br/>
    <button class="btn btn-default" type="submit">Zarejestruj</button>
    <br/><br/><br/>
</form>
</body>
</html>