<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Profil użytkownika</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>


Nazwa użytkownika:
<span th:text="${target_name}"></span><br/><br/>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/private_messages/send/}" method="get">
        <input type="hidden" th:name="user" th:value="${target_name}"/>
        <div>
            <button class="btn btn-default" type="submit">Wyślij mu wiadomość</button>
        </div>
    </form>
</div>
</body>
</html>